.Navbar {
  background-color: var(--beyou-background);
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
}

.navbar-logo {
  height: 5rem;
}

.left-navbar-container {
  margin-left: 10rem;
}
.right-navbar-container {
  margin-left: auto;
  margin-right: 10rem;
}
